@import "../variables/**/*";

.camera-shot {
  width: 100%;
  height: 100%;

  .camera-picture {
    width: 100%;
    height: 100%;
    visibility: visible;
    background-size: cover;
  }

  .actionbar {
    height: 60px;

    button {
      font-size: 30px;
    }
  }
}
