$h1-font-size: 24px;
$h2-font-size: 18px;

$button-height: 44px;
$actionbar-height: 44px;
$toolbar-height: 44px;

$navbar-height: 60px;

$avatar-small: 24px;
$avatar-medium: 48px;
$avatar-large: 64px;
